mixin form-line(items)
  each item in items
    label.form-line
      span.form-line__order=item.order
      span.form-line__label=item.label

      if item.type==='textarea'
        textarea(
          id=item.id
          name=item.name
          placeholder=item.placeholder
        ).form-line__input.form-line__input_textarea=item.value 

      else 
        input(
          id=item.id
          name=item.name
          type=item.type
          placeholder=item.placeholder
          value=item.value
        ).form-line__input

      span.form-line__message